<div class="form-container">
    <h2 class="form-heading">Collect data from devices</h2>
    <form (ngSubmit)="submitForm()" #configForm="ngForm" class="config-form">
      <div class="form-group">
        <label for="ipAddresses">IP Addresses</label>
        <textarea id="ipAddresses" name="ipAddresses" [(ngModel)]="ipAddresses" required rows="5"></textarea>
      </div>
  
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password"  [(ngModel)]="password" required>
      </div>

      <div class="form-group">
        <label for="threadNumber">Thread Number</label>
        <input type="number" id="threadNumber" name="threadNumber"  [(ngModel)]="threadNumber" required>
      </div>
  
      <div class="form-group">
        <label for="deviceType">Device Type</label>
        <select class="form-control" id="deviceType" name="deviceType" [(ngModel)]="formData.deviceType">
          <option value="router">cisco_xr</option>
          <option value="router">cisco_ios</option>
          <option value="router">huawei</option>
          <option value="router">ciena_saos</option>
          <!-- Add more options as needed -->
        </select>
      </div>
  
      <div class="form-group">
        <label for="configCommand">Configuration Commands </label>
        <textarea id="configCommand" name="configCommand" [(ngModel)]="configCommand" required rows="5"></textarea>
      </div>
  
      <button type="submit" [disabled]="!configForm.valid || loading" class="submit-button">
        {{ loading ? 'Loading...' : 'Submit' }}
      </button>
    </form>
    <div class="output-container">
      <h3 class="output-heading">Output</h3>
      <pre>{{outputJson}}</pre>
    </div>
  </div>
  